<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="javascripts/list.js"></script>
<script src="javascripts/timeline.js"></script>
<!-- jquery and minimap js/css are experimental and may not be needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascripts/minimap.js"></script>
<link rel="stylesheet" href="stylesheets/minimap.css" />

<svg id="timeline" width="1200" height="200"></svg>
<div id="list">
    <ul>
    {{#each notes}}
        <li class="note" id="note{{id}}" style="background-color:rgba(255,145,0,"+{{reads}}/7+");"><span class="left truncated">{{title}}</span> <span class = "right">{{date}}</span></li>
    {{/each}}
</div>
<div id="reader">
    <div id="text"></div>
    <div id="minimap">
        <div id="minimap-text"></div>
        <div id="viewfinder"></div>
    </div>
</div>
</ul>
