body {
    padding: 25px;
    margin: 0px;
    font: 14px "Avenir", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1{
    margin-top: 0px;
}

#list ul{
    padding: 0px;
    margin: 0px;
}

#list li{
    height: 50px;
    line-height: 50px;
    list-style: none;
    padding: 0px 10px 0px;
    border-bottom: 1px solid #CCC;
}

#list ul li:hover{
   background-color:#DDD;
   color: #000;
}

#list{
    width: 350px;
    height: 500px;
    border: 1px solid #CCC;
    float: left;
    clear: left;
    overflow-x:scroll;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#reader{
    width: 900px;
    height: 600px;
    float: left;
}

#text{
    width: 700px;
    height: 500px;
    border: 1px solid #CCC;
    padding: 10px;
    float:left;
    overflow-x:scroll;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#minimap{
    width: 150px;
    height:500px;
    float:left;

    padding: 10px;

    border: 1px solid #CCC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

#timeline{
    float: left;
    margin-bottom: 10px;

    border: 1px solid #CCC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.right{
    float:right;
}

.left{
    float:left;
}

.truncated {
    display:inline-block;
    max-width:180px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
 }

 .selected{
     background-color: #666;
     color: white;
 }

 .area {
   fill: steelblue;
   clip-path: url(#clip);
 }

 .zoom {
   cursor: move;
   fill: none;
   pointer-events: all;
 }
